<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393483119028-n43rikst5h4lsm9oddktml7etl57bmpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393483119028-n43rikst5h4lsm9oddktml7etl57bmpf</string>
	<key>API_KEY</key>
	<string>AIzaSyAh4WIubrNzNTK7IYvKKLMdpgcci2iJ-Dk</string>
	<key>GCM_SENDER_ID</key>
	<string>393483119028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.nakofej.soblex</string>
	<key>PROJECT_ID</key>
	<string>soblex</string>
	<key>STORAGE_BUCKET</key>
	<string>soblex.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393483119028:ios:0bb9bf1474733240296ae1</string>
</dict>
</plist>